body {
    background-color: #8dc6d9;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

.title {
    color: white;
    /* right: 50%; */
    /* position: fixed; */
    /* float: left; */
    transform: rotate(4deg);
    font-size: 4em;
}

.paragraph, p {
    color: white;
    right: 50%;
    /* transform: (translate(0, +50%)); */
    /* position: fixed; */
    /* font-weight: bold; */
    font-size: 1.5em;
}

.gamebox {
    float: right;
}

.dropdown-hide {
    display: none;
}
.dropdown-show {
    display: contents;
}

/* @keyframes dropdown {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(90deg);}
} */

/* .skew {
    animation-name: dropdown;
    animation-duration: 3s;
} */

@keyframes wiggle {
    0% {transform: rotate(-3deg);}
    50% {transform: rotate(0deg);}
    100% {transform: rotate(3deg);}
}

.logo:hover {
    animation-play-state: running;
}

.logo {
    animation-name: wiggle;
    animation-direction: alternate-reverse;
    animation-duration: 0.03s;
    animation-play-state: paused;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}